<div class="header" style="background: lightgreen"></div>
<%= render 'form', name:'Nuevo usuario', boton: 'Ingresar'%>

<div class = "row">
  <div class="col-md-6"><center>
<%= link_to 'atrás', usuarios_path, :class => "btn btn-default", :style =>'background: purple; color: white' %>
  </center>
  </div>
</div>